<section class="h-screen flex justify-center items-center md:bg-gray-100">
  <div class="md:w-2/5 md:shadow-md rounded-lg">
    <form
      #timetableForm="ngForm"
      class="flex bg-white flex-col items-stretch p-2">
      <p class="font-semibold text-2xl">Create Your Schedule</p>
      <div class="flex py-4 flex-col">
        <label class="text-sm" for="name">Schedule Name</label>
        <input
          id="name"
          [(ngModel)] = "timetable.name"
          name="timetableName"
          class="border block border-gray-100 p-2 text-gray-600 rounded-md focus:ring-gray-400 focus:border-gray-400 focus:outline-none" type="text" placeholder="eg. First Year First Semester"
          required>
      </div>
      <div class="flex py-4 flex-col">
        <label class="text-sm" for="dropzone-file">Upload Schedule Image</label>
        <div class="flex flex-col my-4 items-center justify-center w-full">
          <label  for="dropzone-file"
                  class="flex relative flex-col items-center justify-center w-full h-24 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-white hover:bg-gray-100"
                  [ngClass]="{'h-24': !previewUrl, 'h-64': previewUrl}"
          >
            <div *ngIf="!previewUrl" class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg class="w-8 h-8 mb-2 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
              </svg>
              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
              <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>

            <div class="w-full h-full relative">
              <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview" class="absolute inset-0 h-full w-full object-contain p-2"/>
            </div>
            <div>
              <button *ngIf="previewUrl"
                      (click)="removeFile($event)"
                      type="button"
                      class="absolute top-2 shadow-md right-2 bg-red-500 text-white rounded-full p-1.5 hover:bg-red-600 z-50"
              >
                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
            </div>
            <input id="dropzone-file" type="file" class="hidden" required (change)="onFileSelected($event)"/>
          </label>
        </div>

        <div class="flex flex-row gap-1">
          <div class="w-1/2 self-start">
            <label class="text-sm" for="startTime">Timetable Start</label>
            <input
              [(ngModel)]="timetable.startDate"
              name="startDate"
              class="mt-2 border w-full block border-gray-100 p-2 text-gray-600 rounded-md focus:ring-gray-400 focus:border-gray-400 focus:outline-none" type="date" id="startTime">
          </div>
          <div class="w-1/2 self-end">
            <label class="text-sm" for="endTime">Timetable End</label>
            <input
              [(ngModel)]="timetable.endDate"
              name="endDate"
              required
              class="ml-0 mt-2 w-full border block border-gray-100 p-2 text-gray-600 rounded-md focus:ring-gray-400 focus:border-gray-400 focus:outline-none" type="date" id="endTime">
          </div>
        </div>
        <div>
          <button *ngIf="!loading" type="submit" (click)="onClickSubmit()" [disabled]="!timetableForm.valid || !previewUrl" class="mt-4 disabled:opacity-50 disabled:cursor-not-allowed text-white bg-gradient-to-br from-gray-800 to-gray-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-3 text-center w-full me-2 mb-2">Submit Timetable</button>
          <button *ngIf="loading" disabled type="button" class="py-2.5 w-full px-5 mt-4 text-sm font-medium text-gray-900 bg-white rounded-lg border border-gray-200 hover:text-blue-700 focus:z-10 focus:ring-4 focus:outline-none focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 inline-flex items-center justify-center">
            <svg aria-hidden="true" role="status" class="inline w-4 h-4 me-3 text-sm text-center text-gray-200 animate-spin dark:text-gray-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="#1C64F2"/>
            </svg>
            Loading...
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
