<nav class="bg-gray-100 border-b-2 h-10 flex justify-center max">
  <div class="font-bold text-gray-600 text-2xl py-2">ClassSync</div>
</nav>
<section class="h-screen flex justify-center items-center bg-gray-100">
  <div class="w-2/5 shadow-md rounded-lg">
    <form
      #timetableForm="ngForm"
      class="flex bg-white flex-col items-stretch p-4">
      <p class="font-semibold text-2xl">Create Your Schedule</p>
      <div class="flex py-4 flex-col">
        <label class="text-sm" for="name">Schedule Name</label>
        <input
          id="name"
          [(ngModel)] = "timetable.name"
          name="timetableName"
          class="border block border-gray-100 p-2 text-gray-600 rounded-md focus:ring-gray-400 focus:border-gray-400 focus:outline-none" type="text" placeholder="eg. First Year First Semester"
        required>
      </div>
      <div class="flex py-4 flex-col">
        <label class="text-sm" for="dropzone-file">Upload Schedule Image</label>
        <div class="flex flex-col my-4 items-center justify-center w-full">
          <label  for="dropzone-file"
                  class="flex relative flex-col items-center justify-center w-full h-24 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-white hover:bg-gray-100"
          [ngClass]="{'h-24': !previewUrl, 'h-64': previewUrl}"
          >
            <div *ngIf="!previewUrl" class="flex flex-col items-center justify-center pt-5 pb-6">
              <svg class="w-8 h-8 mb-2 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
              </svg>
              <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
              <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
            </div>

            <div class="w-full h-full relative">
              <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview" class="absolute inset-0 h-full w-full object-contain p-2"/>
            </div>
            <div>
              <button *ngIf="previewUrl"
                      (click)="removeFile($event)"
                      type="button"
                      class="absolute top-2 shadow-md right-2 bg-red-500 text-white rounded-full p-1.5 hover:bg-red-600 z-50"
              >
                <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
            </div>
            <input id="dropzone-file" type="file" class="hidden" required (change)="onFileSelected($event)"/>
          </label>
        </div>


        <div class="flex">
          <div class="mr-auto">
            <label class="text-sm" for="startTime">Timetable Start</label>
            <input
              [(ngModel)]="timetable.startDate"
              name="startDate"
              class="mt-2 border block border-gray-100 p-2 text-gray-600 rounded-md focus:ring-gray-400 focus:border-gray-400 focus:outline-none" type="date" id="startTime">
          </div>
         <div class="ml-auto">
           <label class="text-sm" for="endTime">Timetable End</label>
           <input
             [(ngModel)]="timetable.endDate"
             name="endDate"
             required
             class="mt-2 border block border-gray-100 p-2 text-gray-600 rounded-md focus:ring-gray-400 focus:border-gray-400 focus:outline-none" type="date" id="endTime">
         </div>
        </div>
        <div>
          <button type="submit" (click)="onClickSubmit()" [disabled]="!timetableForm.valid || !previewUrl" class="mt-4 disabled:opacity-50 disabled:cursor-not-allowed text-white bg-gradient-to-br from-gray-800 to-gray-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-3 text-center w-full me-2 mb-2">Submit Timetable</button>
        </div>
      </div>
    </form>
  </div>
</section>
